{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Cadastro</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

    <div class="container">
        <div class="container-login">
            <div class="wrap-login">
                <form class="login-form" action="{% url 'cadastro' %}" method="post">
                    {% csrf_token %}
                    <span class="login-form-title">
                        Cadastro de usuário
                    </span>
                    <div class="wrap-input margin-top-35 margin-bottom-35">
                        <input class="input-form" type="text" name="username" autocomplete="off">
                        <span class="focus-input-form" data-placeholder="username"></span>
                    </div>
                    <div class="wrap-input margin-bottom-35">
                        <input class="input-form" type="password" name="password">
                        <span class="focus-input-form" data-placeholder="Senha"></span>
                    </div>
                    <div class="container-login-form-btn">
                        <button class="login-form-btn" type="submit">Cadastrar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <script>
        let inputs = document.getElementsByClassName('input-form');
        for (let input of inputs) {
            input.addEventListener("blur", function () {
                if (input.value.trim() != "") {
                    input.classList.add("has-val");
                } else {
                    input.classList.remove("has-val");
                }
            });
        }
    </script>
</body>

</html>